@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 40% 10%; /* #120E21 */
    --foreground: 0 0% 98%;

    --card: 256 40% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 256 40% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 256 38% 52%; /* #624CAB */
    --primary-foreground: 0 0% 100%;

    --secondary: 256 40% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 256 40% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 329 65% 51%; /* #D13483 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 256 40% 20%;
    --input: 256 40% 20%;
    --ring: 329 65% 51%;

    --chart-1: 256 38% 52%; /* primary */
    --chart-2: 329 65% 51%; /* accent */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
