@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 47% 10%; /* #120E21 */
    --foreground: 210 20% 98%;

    --card: 254 30% 13%; /* #19152B */
    --card-foreground: 210 20% 98%;

    --popover: 256 47% 10%;
    --popover-foreground: 210 20% 98%;

    --primary: 326 64% 51%; /* Pink: #D13483 */
    --primary-foreground: 0 0% 100%;

    --secondary: 250 25% 25%;
    --secondary-foreground: 210 20% 80%;

    --muted: 250 25% 25%;
    --muted-foreground: 210 20% 80%;

    --accent: 256 38% 64%; /* Purple: #624CAB */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 254 30% 20%;
    --input: 254 30% 20%;
    --ring: 326 64% 51%;

    --chart-1: 142 71% 45%; /* Green */
    --chart-2: 0 84% 60%; /* Red (Destructive) */
    --chart-3: 326 64% 51%; /* Pink (Primary) */
    --chart-4: 256 38% 64%; /* Purple (Accent) */
    --chart-5: 221 83% 53%; /* Blue */
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
